<%-include("../partials/header.ejs")%>

<main>
<div class="container">
    <h1 class="center">Vaccination Records</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Edit</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Vaccine</th>
                <th scope="col">Dose Number</th>
                <th scope="col">Location</th>
                <th scope="col">Approved</th>
            </tr>
        </thead>
        <tbody>
            <%for(let i = 0; i < records.length; i++){ %>
                <tr>
                    <td><a href="/records/edit?id=<%=records[i].recordID%>">Edit</a></td>
                    <td><%=records[i].firstName%></td>
                    <td><%=records[i].lastName%></td>
                    <td><%=records[i].name%></td>
                    <td><%=records[i].doseNumber%></td>
                    <td><%=records[i].location%></td>
                    <td><%=records[i].approvalStatus%></td>
                </tr>
            <%}%>
        </tbody>
    </table>
    <div>
        <a class="btn btn-primary" href="/records/new">Create new Record</a>
    </div>
</div>
</main>

<%-include("../partials/footer.ejs")%>
